*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat';
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.background-pattern{
    z-index: -1;
    
}